<h1 id="tableLabel">Building Types</h1>

<p *ngIf="!buildingtypes"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/building-types-form']">Add new type</a>
</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="buildingtypes">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let buildingtype of buildingtypes" (click)="edit(buildingtype.id)">
      <td>{{ buildingtype.id }}</td>
      <td>{{ buildingtype.name }}</td>
    </tr>
  </tbody>
</table>
